<library path="src">
    <class name="Display" type="spatz_display_rqt.display.Display" base_class_type="rqt_gui_py::Plugin">
        <description>
            Spatz Display und so
        </description>
        <qtgui>
            <group>
                <label>Spatz</label>
                <icon type="theme">folder</icon>
                <statustip>Plugins for Team Spatzenhirn.</statustip>
            </group>
            <label>Spatz Display</label>
            <icon type="theme">utilities-system-monitor</icon>
            <statustip>SPAAAAAAAATZ!!!
            </statustip>
        </qtgui>
    </class>
</library>